* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    background-color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}
.menu.active::after {
    height: 216px;
}
.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 50px;
    background-color: #eee;
}

.menu > li:hover > a {
    color: orangered;
}

.menu .sub {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    z-index: 1;
    background-color: #eee;
    display: none;
}

.menu .sub li a {
    display: block;
    padding: 14px;
}
